NEXT_PUBLIC_API_URL=https://api.sampleapis.com
NEXT_PUBLIC_SITE_URL=https://template-web-app.vercel.app
NEXT_PUBLIC_REPO_URL=https://github.com/thongdn-it/template-web-app/tree/nextJS
NEXT_PUBLIC_LICENSE=MIT